a, h1, h2, h3 {
    display: inline;
}

.min, .average, .max {
    position: relative;
    min-height: 24.5px;
    min-width: 7em;
    float:left;
}

.min, .max {
    background-color: #D9544F;
}

.average {
    background-color: #78AE62;
}

.mark {
    position: relative;
    z-index: 500;
    margin-left:-5px;
}

.min {
    text-align: right;
}

.mark_left {
    position: relative;
    z-index: 500;
    marigin-top:35px;

}