{% extends 'base.html' %}
{% load staticfiles %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/book_list.js' %}"></script>

{% endblock %}

{% block content %}
    <script type="text/javascript">
        var content = [];

        {% for obj in object.topics %}
            content.push({ title : '{{ obj.topic_title }}'});
        {% endfor %}

        $(function() {
            $('.ui.dropdown .item').each(function() {
                if($(this).text() == '{{ rel }}' ){
                    $(this).parent().parent().addClass('selection');
                    $(this).attr('data-value', 'default');
                }
            });
            $('.ui.dropdown').dropdown('restore defaults');

            $('.ui.dropdown').dropdown({
                onChange: function(value, text, $selectedItem) {
                    window.location.href = "{% url 'book_list' keyword=keyword page=1 rel='' %}" + text;
                }
            });

            $('.delete').on('click', function() {
                var keyword = $(this).parent().find('.keyword').text();
                var search;
                $(this).parent().hide();
                for(var i = 0; i < content.length; i++) {
                    if(content[i].title !== keyword) {
                        search += " " + content[i].title;
                    }
                }
                window.location.href = "/books/" + search + "/page=" + '{{ page }}' + "/rel=" + '{{ rel }}';
            });

            $('.ui.search').search({
                source: content
            });
        });

        function button_click() {
            var data = $('.prompt').val();

            if(data == '') {
                alert("검색어를 입력해주세요.");
                return;
            }

            var search;
            for(var i = 0; i < content.length; i++) {
                search += " " + content[i].title;
            }

            search += " " + data;

            var url = '/books/' + search + '/page=1/rel=' + '{{ rel }}';

            $(location).attr('href', url);
        }
    </script>


    <div class="ui main container">
        <div class="ui center aligned">
            {% for obj in object.topics %}
                <a href="#" class="ui label" style="margin: 5px;">
                    <span class="keyword">{{ obj.topic_title }}</span>
                    <i class="delete icon"></i>
                </a>
            {% endfor %}
        </div>
        <div class="ui two column centered grid" style="margin-top:20px;">
            <div class="column">
                <div class="ui fluid search">
                    <div class="ui fluid icon input">
                        <input class="prompt" type="text" placeholder="Search..." onkeypress="if(event.keyCode==13) {button_click(); return false;}">
                        <i class="search icon" onclick="button_click();"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="right floated left aligned three wide column">
                <div class="ui selection dropdown">
                    <input type="hidden" name="정렬기준">
                    <i class="dropdown icon"></i>
                    <div class="text">
                        {% if rel == 'none' %}
                            정렬 기준
                        {% else %}
                            {{ rel }}
                        {% endif %}
                    </div>
                    <div class="menu">
                        <div class="item" data-value="0">default</div>
                        <div class="item" data-value="1">관찰값</div>
                        <div class="item" data-value="2">개체간 영향</div>
                        <div class="item" data-value="3">설명, 사실</div>
                        <div class="item" data-value="4">행동</div>
                        <div class="item" data-value="5">이유</div>
                        <div class="item" data-value="6">상태변화</div>
                        <div class="item" data-value="7">추론 과정</div>
                        <div class="item" data-value="8">치료법</div>
                        <div class="item" data-value="9">진단법</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="book">Book ({{ object.total_doc }})</a>
            <a class="item" data-tab="article" href="{% url 'paper_list' keyword=keyword page=1 %}">Article ({{ paper.total_doc }})</a>
        </div>
        <div class="ui bottom attached active tab segment">
            <div class="ui divided items">
                {% for item in object.books %}
                    <div class="item">
                        <img class="ui middle aligned tiny image" src="{{ item.book_image_url }}" style="max-height: 100px;">
                        <div class="middle aligned content">
                            <a class="header" href="{% url 'book_detail' keyword=keyword num=num|add:forloop.counter rel=rel%}">{{ item.book_source }}</a>
                            <div class="metadata">
                                <strong class="date">{{ item.book_year }}</strong> by <span class="description">{{ item.book_author }}</span>
                            </div>
                            <div class="ui contents" style="padding-top:15px; padding-bottom: 10px;">
                                {{ item.book_highlighted_contents|safe }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="ui center aligned grid">
        <div class="ui column grid" style="margin:20px;">
            <div class="column">
                {% if not count_1 == 0 %}
                    <a href="{% url 'book_list' keyword=keyword page=count_1|add:-9 rel=rel %}"><i class="chevron left icon"></i></a>
                {% endif %}
                <div class="ui pagination menu">
                    {% for i in range %}
                        <a href="{% url 'book_list' keyword=keyword page=i rel=rel %}" class="item {% if i == page %}active{% endif %}">
                            {{ i }}
                        </a>
                    {% endfor %}
                </div>
                {% if not count_mod == count_data %}
                    <a href="{% url 'book_list' keyword=keyword page=count_2|add:1 rel=rel %}"><i class="chevron right icon"></i></a>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
{% endblock %}