{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_detail.css' %}">
{% endblock %}
{% block javascript %}

{% endblock %}

{% block content %}
    <script type="text/javascript">
        function click_previous() {
            $.ajax({
                method: 'GET',
                url: window.location.pathname,
                data: {
                    id: parseInt($('.current').attr('data-id')) - 1,
                    isbn: '{{object.books.0.book_isbn}}'
                },
                success: function (data) {
                    $('.current').attr('data-id', data.book_id).text(data.content);
                }
            });
        }
        function click_next() {
            $.ajax({
                method: 'GET',
                url: window.location.pathname,
                data: {
                    id: parseInt($('.current').attr('data-id')) + 1,
                    isbn: '{{object.books.0.book_isbn}}'
                },
                success: function (data) {
                    $('.current').attr('data-id', data.book_id).text(data.content);
                }
            });
        }
    </script>

    <div class="ui main container">
        {% for item in object.books %}
            <div class="ui">
                <div class="ui breadcrumb" style="margin-top: 20px;">
                    <div class="section"><strong>Search for: </strong><a class="section" href="{% url 'book_list' keyword=keyword page=page rel=rel %}">{{ keyword }}</a></div>
                    <span class="divider">/</span>
                    <div class="active section">{{ item.book_source }}</div>
                </div>

            </div>
            <div class="ui clearing divider"></div>
            <div class="ui grid" style="margin-top: 20px; margin-bottom: 30px;">
                <div class="six wide column">
                    <img class="ui middle aligned image" src="{{ item.book_image_url }}" style="min-width: 100%; max-height: 450px;"/>
                </div>
                <div class="ten wide column" style="padding-left: 50px;">
                    <h1 class="header">{{ item.book_source }}</h1><br/><br/>
                    <h3 class="header">{{ item.book_author }}</h3>
                    <h4 class="metadata">
                        <strong class="date">{{ item.book_year }}</strong>
                        <strong class="page">#Page : {{ item.book_page_number }}</strong>
                    </h4>
                    <div class="ui clearing divider"></div>
                    <div class="ui shape">
                        <div class="sides">
                            <!--<p class="previous side content">{{ item.book_previous_contents }}</p>-->
                            <p class="current active side content" data-id="{{ item.book_id }}">{{ item.book_contents }}</p>
                            <!--<p class="next side content">{{ item.book_next_contents }}</p>-->
                        </div>
                    </div>
                    <div class="ui clearing divider"></div>
                            <div class="ui two column centered grid" style="margin-bottom: 50px;">
                        <div class="four column centered row">
                            <button class="ui blue basic left labeled icon button previous" style="margin-right: 10px;" onclick="click_previous();">
                                <i class="left arrow icon"></i>
                                이전 문단
                            </button>
                            <button class="ui blue right labeled icon button next" onclick="click_next();">
                                <i class="right arrow icon"></i>
                                다음 문단
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}