{% extends 'base.html' %}
{% load staticfiles %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block content %}
<div class="ui main" style="margin: 0 10px 0 10px;">
    <a href="{% url 'home' %}" style="color: inherit;"><h2>종합보기</h2></a> / <a href="#" style="color: inherit;"><h3>상세보기</h3></a>
    <br/>
    <br/>
    <div class="ui grid ">
        <div class="sixteen column">
            <table class="ui table">
                <tr>
                    <td class="two center aligned" style="background-color:#00b5ad;color:white"><strong>환자 정보</strong></td>
                    <td class="current two  center aligned">기준 일자 - <input type="text" class="current_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                    <td class="record_date two wide center aligned">접수 일자 - <input type="text" class="record_date_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                    <td class="hospital two  center aligned">병원명 - <input class="hospital_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                    <td class="ofiice two  center aligned">영업소 - <input class="office_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                    <td class="receipt_num two  center aligned">접수번호 - <input class="receipt_num_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                    <td class="name two  center aligned">환자명 - <input class="name_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                    <td class="sex one  center aligned">성별 - <input class="sex_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                    <td class="age one  center aligned">나이 - <input class="age_data ui basic label center aligned" readonly value="   " style="width:100px !important;"/></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ui relaxed grid">
        <div class="two wide column" style="height:1040px; overflow:scroll;">
            <table class="ui compact  center aligned table">
                <thead>
                    <tr>
                        <th class="ten wide">접수일자</th>
                        <th class="six wide">접수번호</th>
                        <th class="six wide">환자명</th>
                        <th class="six wide">병원명</th>
                    </tr>
                </thead>
                <tbody class="patient_info">
                    {% for item in object.cases %}
                        <tr data-id="{{ item.id }}">
                            <td>{{ item.recorded_date }}</td>
                            <td>{{ item.receipt_number }}</td>
                            <td>{{ item.patient.name }}</td>
                            <td>{{ item.clinic.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="fourteen wide column">
            <div class="ui grid">
                    <div class="ui segments ten wide column" style="height: 700px; margin-top: 12px; overflow:scroll;padding: 0;">
                        <div class="ui teal inverted segment" style="min-height:58px;">
                            <h4>검사결과</h4>
                        </div>
                        <div class="ui segment">
                            <table class="ui compact padded center aligned table">
                                <tbody class="get_test_data">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="four wide column" style="margin-left:7px; margin-top:12px; height: 700px; padding: 0; overflow:scroll; border: 1px solid rgba(34,36,38, .15); border-radius: .28571429rem; box-shadow: 0 1px 2px 0 rgba(34,36,38, .15);">
                        <table class="ui padded table">
                            <thead>
                                <tr>
                                    <th class="eleven wide" style="background-color:#00b5ad;color:white;">
                                        <div class="ui grid">
                                            <div class="twelve wide column">
                                                소견 내용
                                            </div>
                                            <div class="four wide column" style="white-space:nowrap;">
                                                <button class="tiny ui inverted button">소견추가</button>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="five wide ui center aligned" colspan="2" class="eleven wide" style="background-color:#00b5ad;color:white;">
                                        출력
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="conclusion">
                            </tbody>
                        </table>
                    </div>
                    <div class="two wide column" style="margin-left:-7px;">
                        <div class="ui segment">
                            <button class="tiny ui teal basic button">최종확인</button><i class="large teal check circle icon"></i>
                            <div class="ui divider"></div>
                            <button class="fluid tiny ui teal button final">최종 소견 미리보기</button>
                        </div>
                    </div>
                    <div class="ui segments six wide column" style="height: 280px; margin-top: 12px; overflow:scroll; padding: 0;">
                        <div class="ui teal inverted segment">
                            <div class="ui right aligned grid">
                                <div class="right floated left aligned six wide column">
                                    <h4>소견 생성 규칙</h4>
                                </div>
                                <div class="ten wide column">
                                    <button class="tiny ui inverted button descriptive">Descriptive Map</button>
                                    <div class="tiny ui top dropdown inverted button">
                                        현재 Rule 편집
                                        <div class="menu">
                                            <div class="item">편집</div>
                                            <div class="item">삭제</div>
                                        </div>
                                    </div>
                                    <div class="ui checkbox"><input type="checkbox"  id="rule_is_print" name="print" checked="true"><label style="color:white;">출력</label></div>
                                </div>
                            </div>
                        </div>
                        <table class="ui celled fixed table" style="margin-top:-2px;">
                            <thead>
                                <tr class="center aligned">
                                    <th>- 검사 결과 조건</th>
                                    <th>- 소견 내용</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 100%;">
                                    <td class="rule_condition center aligned" style="height:178px;"></td>
                                    <td class="rule_content center aligned" style="height:178px;"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ui dimmer">
                            <div class="ui text loader">
                                Loading
                            </div>
                        </div>
                    </div>
                    <div class="ui segment eight wide column" style="margin-left:7px; height: 280px; margin-top: 12px; margin-right: 20px; padding: 0; overflow:scroll;">
                        <table class="ui padded table">
                            <thead>
                                <tr>
                                    <th style="background-color:#00b5ad;color:white;">관련 의학 자료</th>
                                    <th class="right aligned" style="background-color:#00b5ad;color:white;"><a href="#" class="more-book"><button class="ui inverted button">더 알아보기</button></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 40px;">
                                    <td colspan="2" class="topic"></td>
                                </tr>
                                <tr style="height: 280px;">
                                    <td colspan="2">
                                        <div class="ui divided items book">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ui dimmer">
                            <div class="ui text loader">
                                Loading
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        최종 소견
    </div>
    <div class="content">
        <div class="ui grid ">
        <div class="ten column">
            <table class="ui table">
                <tr>
                    <td class="record_date one wide center aligned">접수 일자<input type="text" class="record_date_data ui basic label center aligned" readonly value="" style="width:100px !important;"/></td>
                    <td class="hospital one center aligned">병원명<input class="hospital_data ui basic label center aligned" readonly value="" style="width:100px !important;"/></td>
                    <td class="ofiice one center aligned">영업소<input class="office_data ui basic label center aligned" readonly value="" style="width:100px !important;"/></td>
                    <td class="receipt_num one center aligned">접수번호<input class="receipt_num_data ui basic label center aligned" readonly value="" style="width:100px !important;"/></td>
                    <td class="name one center aligned">환자명<input class="name_data ui basic label center aligned" readonly value="" style="width:100px !important;"/></td>
                    <td class="sex one  center aligned">성별<input class="sex_data ui basic label center aligned" readonly value="" style="width:100px !important;"/></td>
                    <td class="age one  center aligned">나이<input class="age_data ui basic label center aligned" readonly value="" style="width:100px !important;"/></td>
                </tr>
            </table>
        </div>
    </div>
        <div class="description">
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            닫기
        </div>
    </div>
</div>
{% endblock %}